[Unit]
Description=pull daemon
After=network.target

[Service]
Type=simple
User=pd
ExecStart=/opt/pull-daemon/pd 8888 /opt/pull-daemon/update-repos
Restart=on-abort

[Install]
WantedBy=multi-user.target
